<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
      </bindings>  
      <services>
          <service behaviorConfiguration="Metadata" name="InfinityEngine.Services.InfinityEngineService">
              <endpoint address="infinityengine/" binding="webHttpBinding"
                  bindingConfiguration="webBinding" name="restjson" contract="InfinityEngine.Interfaces.IInfinityEngineService" />
              <host>
                  <baseAddresses>
                      <add baseAddress="http://localhost:8733" />
                  </baseAddresses>
              </host>
          </service>
      </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Metadata">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
